//- mixin alerts.pug
mixin alert(text)
	.alert(class='alert'+'-'+text role='alert')
		|A simple #{text} alert-check it out!

mixin alertColor(text)
	.alert(class='alert'+'-'+text role="alert")
		|A simple #{text} alert with #[a( href="#" class="alert-link") an example link]. Give it a click if you like.

mixin alertContent(text)
	.alert(class='alert'+'-'+text role='alert')
		h4.alert-heading Well done!
		p Aww yeah, you successfully read this import alert message. This Example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.
		hr
		p.mb-0 Whenever you need to, be sure to use margin utilities to keep things nice and tidy

mixin alertDismissing(text)
	.alert.alert-dismissible.fade.show(class='alert'+'-'+text role='alert')
		|#[strong Holy guacamole!] You should check in on some of those fields below.
		button.close(type='button' data-dismiss='alert' aria-label='close')
			span(aria-hidden='true') x
//- /mixin alerts.pug