doctype
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		// [htmlclean-protect]
		// inject:css
		// endinject
		// [/htmlclean-protect]
		
		title My title

		//- mixin
		
	body
		.container
			
			include includes/alerts.pug
		//- include includes/buttons.pug
		

		// [htmlclean-protect]
		// inject:js
		// endinject
		// [/htmlclean-protect]		